.header {
    height: 90px;
    display: flex;
    align-items: center;
    background-color: #d37f00;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 70%;
}

.header__searchIcon {
    color: white;
    padding: 5px;
    height: 22px !important;
    background-color: #000000;
}

.header__optionLineOne {
    font-size: 1rem;
    color: rgba(0,0,0,.5);
}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header__optionBasket {
    padding-top: 5px;
    display: flex;
    align-items: center;
    color: black;
}

.header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-link {
    text-decoration: none;
}

.header__option {
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
}